.cart {
	@apply relative;

	.title {
		@apply text-center;
	}

	.wrapper {
		@apply absolute right-0 top-[4.2rem] z-50 w-80 rounded-xl bg-secondary px-5 py-3 text-sm text-white; animation: 0.3s cartAnimation ease-in-out;

		.title {
			@apply mb-5 text-lg font-normal;
		}

		.placeOrder {
			@apply mt-8 flex justify-between items-center pb-4;

			.total {
				@apply font-semibold text-primary;
			}

			.btn {}
		}
	}
}

@keyframes cartAnimation{
from{
	transform: translateX(110%);
}
to{
	transform: translateX(0);
}
}
