.wrapper{
 .list{
  @apply grid gap-6;
  .item{
   @apply rounded-lg bg-white p-4 shadow flex justify-between items-center sm-custom:flex-col sm-custom:gap-2;
   transform:translateX(-100%);
   opacity:0;
   animation: slide 1s forwards;
   @for $i from 1 through 400{
    &:nth-child(#{$i}){
     animation-delay:0.06s*$i
    }
   }
   .info{
    @apply px-10 text-right w-1/3 md-custom:px-2 sm-custom:w-full sm-custom:text-left;
    &:first-child{
     @apply text-2xl font-semibold px-0 text-left lg-custom:text-base  sm-custom:px-2
    }

   }
   .reviewInfo{
    @apply flex-col w-full text-left
   }
  }
  .review{
  @apply flex-col gap-2 w-full;
  >div{
   &:last-child{
    @apply w-full flex justify-end;
   }
  }
  }
 }
}


@keyframes slide{
 from{
  transform:translateX(-100%);
  opacity:0
 }
 to{
  transform:translateX(0);
  opacity:1
 }
}