.image {
	@apply rounded-md aspect-[4/2.9];
	animation: slide 0.3s linear;
}

.blck {
	@apply mt-5 grid gap-3;
	grid-template-columns: 1fr 1fr 1fr;

	.descripton {
		@apply font-light opacity-80;

		span {
			@apply mb-1 block font-semibold;
		}
	}
}

.galery {
	@apply mt-5 w-full overflow-x-auto whitespace-nowrap;
}

.info {
	@apply relative h-max rounded-lg bg-white p-5 shadow-md;

	.title {
		@apply text-2xl font-semibold;
	}

	.link {
		@apply mt-5;

		a {
			@apply ml-2 font-semibold text-aqua;
		}
	}

	.sales {
		@apply mt-1 block text-sm opacity-50;
	}

	.delivery {
		@apply mt-4 text-sm;

		span {
			@apply mr-1 opacity-50;
		}
	}

	.transaction {
		@apply mt-2 flex items-center text-sm opacity-40;
	}

	.favorite {
		@apply absolute right-6 top-6;
	}
}

.inlineBtn {
	@apply mt-5;
}

.textArea {
	@apply rounded-md border border-gray/70 bg-white p-3 block mt-4 resize-none w-full text-sm min-h-[110px]
}

.errors {
	@apply text-red animate-opacity text-sm list-disc pl-4 mt-3
}

.reviewBtn {
	@apply text-aqua border border-aqua border-solid rounded-md mt-2 px-2;

	&:hover {
		@apply animate-scaleIn
	}
}

.button {
	@apply mr-5 relative inline-block overflow-hidden rounded-lg transition-all duration-300 aspect-video;

	&:before {
		@apply content-[""] absolute top-0 left-[-75%] block w-1/2 h-full;
		background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
		transform: skewX(-25deg);
	}

	&:hover {
		&:before {
			animation: shine .75s;
		}
	}

	&:last-child {
		@apply mr-0;
	}

	&.active {
		@apply border-b-2 border-solid border-primary shadow-md;
	}
}

.item-enter {
	display: none;
	opacity: 0;
	transform: scale(0.9);
}

.item-enter-active {
	opacity: 1;
	transform: translateX(0);
	transition: opacity 300ms, transform 300ms;
}

.item-exit {
	opacity: 1;
}

.item-exit-active {
	opacity: 0;
	transform: scale(0.9);
	transition: opacity 300ms, transform 300ms;
}

@keyframes slide {
	from {
		transform: translateX(-100px);
		opacity: 0;
	}

	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes shine {
	100% {
		left: 125%;
	}
}